section {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

input,
textarea {
    margin-bottom: 1rem;
}

.card {
    width: 32%;
    float: left;
    margin: 5px;
}
body{background-color: #1C1C1C;
display: block;}
.col {
    background-color: rgb(196, 38, 38);
    padding: 0,5%;
    width: 0,5%;
    margin-left: auto;
    
}

